@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  background-color: lightblue;
}

.nav {
  background-color: blue;
}

.logo {
  width: 40%;
  height: 80px;
  float: left;
  background-color: lightblue;
  font-family: "Pacifico", cursive;
  margin-bottom: 1px;
}

#code {
  font-size: 18px;
  font-weight: bold;
}

.logo #name {
  color: white;
  font-size: 60px;
  margin-bottom: 2px;
}

.logo p {
  font-size: 30px;
  color: white;
  font-weight: 400;
  padding-left: 5%;
  text-transform: capitalize;
}

.logo span {
  font-size: 45px;
  font-weight: normal;
  color: rgb(59, 58, 58);
  text-transform: capitalize;
}

#mobile {
  text-align: center;
  background-color: rgba(0, 100, 50, 0.2);
  width: 100%;
  clear: both;
  display: none;
  height: 40px;
  border-top: 3px solid rgb(0, 250, 200);
}

#mobile p {
  padding-top: 1%;
  font-size: 20px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 1s ease;
}

nav {
  width: 60%;
  height: 80px;
  float: left;
  background-color: lightblue;
}

nav ul li {
  list-style: none;
  color: #fefefe;
  float: left;
  font-size: 15px;
  padding: 3% 2.5%;
  transition: all 0.5s ease;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid red;
  height: 0px;
}

nav ul li a:hover {
  color: whitesmoke;
}

.click-slider {
  text-decoration: seashell;
}

/* projects i have worked on */

.container-1{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transform: opacity 0.3s ease-in 0.4s;
}



@media (max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-last-of-type(4),
    .panel:nth-last-of-type(5) {
        display: none;
    }
} 



.about_me {
    max-width: 100%;
  }



/* contact me */

.img-rounded img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 0.5rem solid #6c63ff;
  }


.footer {
   text-align: left;
   text-decoration: royalblue;
   text-emphasis-color: blue;
    
} 



















@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgb(255, 255, 255);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}


.btn-1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.left .btn:hover {
  border-color: rgb(0 0 0);
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.container-4 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
} 

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('/img/ps5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('/img/xbox.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }

  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
} 
